In [3]:
from covid19dh import covid19
from datetime import date

In [5]:
x, src = covid19("BEL", cache = False, verbose = False,raw = False,start = date(2021,4,13),end = "2021-04-13")
x

,id,date,vaccines,tests,confirmed,recovered,deaths,hosp,vent,icu,...,currency,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,key,key_apple_mobility,key_google_mobility
6565,BEL,2021-04-13,2503818.0,11570070,927229,31130,23503,2922.0,0,832,...,EUR,1,Belgium,NaN,NaN,50.8333,4.0,NaN,Belgium,BE

In [4]:
x, src = covid19("ESP", cache = False, verbose = False,raw = False,start = date(2021,4,13),end = "2021-04-13")
x

,id,date,vaccines,tests,confirmed,recovered,deaths,hosp,vent,icu,...,currency,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,key,key_apple_mobility,key_google_mobility
27201,ESP,2021-04-13,10784997.0,37012618,3370256,150376,76525,7806.0,0,1855,...,EUR,1,Spain,NaN,NaN,40.0,-4.0,NaN,Spain,ES