In [21]:
from covid19dh import covid19
from datetime import date

In [80]:
x, src = covid19("CHL", cache = False, verbose = False,raw = False,start = date(2021,4,13),end = "2021-04-13")
x

,id,date,vaccines,tests,confirmed,recovered,deaths,hosp,vent,icu,...,currency,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,key,key_apple_mobility,key_google_mobility
16414,CHL,2021-04-13,12035524.0,11971224,1082920,1013416,24483,8095.0,0,3203,...,CLF,1,Chile,NaN,NaN,-35.6751,-71.543,NaN,Chile,CL

In [81]:
x, src = covid19("USA", cache = False, verbose = False,raw = False,start = date(2021,4,13),end = "2021-04-13")
x

,id,date,vaccines,tests,confirmed,recovered,deaths,hosp,vent,icu,...,currency,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,key,key_apple_mobility,key_google_mobility
87702,USA,2021-04-13,189692045.0,385064247,31268107,6298082,562533,35536.0,0,8433,...,USN,1,United States,NaN,NaN,38.0,-97.0,NaN,United States,US